@import url('https://fonts.googleapis.com/css?family=Catamaran:500,700');

html, body {
  background: black;
  color: #EEE;

  padding: 0;
  margin: 0;

  overflow: hidden;

  font-family: 'Cabin', sans-serif;
  font-weight: 700;
}
